{{#section 'title'}}
	Add Category
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}


{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}


{{#section 'controlBar'}}{{> adminControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}

{{#if showAlert}}
    <script>
        alert("Added successfully");
    </script>
{{/if}}




                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <button id="closeFormBtn"><i class="fa fa-close"></i></button>
                        <form action="#" method="GET" role="form">
                            <label for="namePro">Tên sản phẩm</label><br>
                            <input type="text" name="namePro"><br><br>
            
                            <label for="idPro">Mã sản phẩm</label><br>
                            <input type="text" name="idPro"><br><br>
            
                            <label for="nxs">Thương hiệu/Nhà sản xuất</label><br>
                            <input type="text" name="nxs"><br><br>
            
                            <label for="typePro">Loại sản phẩm</label><br>
                            <!--<input type="text" name="typePro"><br><br>-->
                            <select>
                                <option value="physic">Máy ảnh cơ</option>
                                <option value="digital">Máy ảnh kỹ thuật số</option>
                                <option value="instant">Máy ảnh chụp lấy liền</option>
                            </select><br><br>
            
                            <label for="price">Giá tiền (giá bán lẻ)</label><br>
                            <input type="text" name="price"><br><br>
                         
                            
            
                            <label for="numberPro">Số lượng</label><br>
                            <input type="combobox" name="numberPro"><br><br>
            
                            <label for="addImage">Thêm hình ảnh</label>
                            <input type="file" id="productImage"><br><br>
            
                            <input type="submit" name="addNewBtn" value="Add new products" id="addBtn">
                        </form>
                    </div>
                </div>

               
                

