{{#section 'title'}}
Admin Homepage
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}



{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}

{{#section 'js'}}
    <script>
         getChartOfBrand(["Canon", "Nikon", "Fujifilm", "Sony"], [24, 15, 43, 18]);
         getChartOfType(["Máy cơ", "Kỹ thuật số", "Máy lấy liền"], [24, 48, 28]);
         getChartOfOrders(["Delivered", "Delivering", "In Stock"], [16, 31.6, 52.4]);
    </script>

{{/section}}

{{#section 'controlBar'}}{{> adminControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}
{{#section 'showCharts'}}{{> adminShowCharts}}{{/section}}
{{#section 'addProduct'}}{{> addNewProduct}}{{/section}}
{{#section 'editProduct'}}{{> editForm}}{{/section}}

{{#if showAlert}}
    <script>
        alert("Adding new product successfully!");
    </script>
{{/if}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}

                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}

                <!-- **************************  SHOW CHARTS  *********************** -->
                {{{_sections.showCharts}}}

                </div>
            </div>
        </div>
    </div>

