 <div class="searchBar">
    <input type="text" class="searchProduct searchInput" placeholder="Tìm sản phẩm, loại sản phẩm hoặc nhà sản xuất mong muốn">
    <button type="submit" name="search" class="searchProduct searchBtn" onclick="window.location.href='/search1'"><i class="fa fa-search"></i></button>
</div>