<footer>
  <div class="row" style="margin:0;">
    <div class="footer-left col-sm-8">
      <div class="row" style="margin:0;">
        <div class="col-sm-6 footer-menu">
          <ul>
            <li><a href="#intro">Home</a></li>
            <li><a href="#sale">Khuyến mãi</a></li>
            <li><a href="#new">Hàng mới về</a></li>
            <li><a href="#best">Bán chạy nhất</a></li>
          </ul>
        </div>
        <div class="col-sm-6 footer-contact">
          <div class="phone">
            <span><i class="fa fa-phone"></i>028 3835 3193</span>
          </div>
          <ul class="contact-company">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-right col-sm-4">
      <div class="address">
        <span><i class="fa fa-map-marker"></i>227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh</span>
      </div>
    </div>
  </div>
</footer>