<div class="container searchResult">
        <h1>Kết quả tìm kiếm cho 'Fujifilm Smoky White': <h2> 1 kết quả</h2></h1>
        <div class="result">
            <div class="thumbnail"><img src="../assets/images/Brands/Fujifilm/Máy Ảnh Selfie Lấy Liền Fujifilm Instax Mini 9 - Smoky White.jpg" alt=""></div>
            <div class="result-name">Fujifilm Instax Mini 9 - Smoky White</div>
            <div class="result-price">
                <span class="price-new">2.690.000 VND</span>
            </div>
            <a href="DetailPages/singlepage-1.html" class="result-hover"><i class="fa fa-arrow-right"></i></a>
        </div>
</div>
