/*--font face--*/

@font-face {
  font-family: 'UTMGodWordR';
  src: url("../fonts/UTM God_s WordR.ttf");
}

@font-face {
  font-family: 'NotoSerif';
  src: url("./../fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: 'NotoSerifItalic';
  src: url("./../fonts/NotoSerif-Italic.ttf");
}

@font-face {
  font-family: 'NotoSerifBoldItalic';
  src: url("./../fonts/NotoSerif-BoldItalic.ttf");
}

@font-face {
  font-family: 'NotoSerifBold';
  src: url("./../fonts/NotoSerif-Bold.ttf");
}

@font-face {
  font-family: 'AvenirBlackOblique';
  src: url("../fonts/Avenir-BlackOblique-04_0.ttf");
}

@font-face {
  font-family: 'AvenirNextLTProLightItalic';
  src: url("../fonts/AvenirNextLTPro-LightItalic.otf");
}

@font-face {
  font-family: 'AvertaLight';
  src: url("../fonts/Averta-Light_4.otf");
}

@font-face {
  font-family: 'ElegantIcons';
  src: url("../fonts/ElegantIcons_3C.ttf");
}

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: 'GothamLight';
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: 'helveticaneuebold';
  src: url("../fonts/helveticaneuebold.ttf");
}

@font-face {
  font-family: 'helveticaneuelight';
  src: url("../fonts/helveticaneuelight.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans_0.ttf");
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold_0.ttf");
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic_0.ttf");
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold_0.ttf");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff");
}

/*Core*/

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bottomIn {
  from {
    opacity: 0;
    transform: translate(-80%, 80%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes topIn {
  from {
    opacity: 0;
    transform: translate(80%, -80%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  80% {
    opacity: 1;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moreIn {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }

  80% {
    opacity: 1;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro .product-menu .row .product-cat ul li:hover,
.intro .product-menu .row .product-cat-content .product-list-content.active,
.intro .slider-home .slider-outer .pirate-intro-slider-item,
.intro .slider-home .slider-outer .pirate-intro-slider-item > a:hover,
.intro .slider-home .slider-control .slider-dot.active,
.sale .sale-list .sale-slider .slider-item .sale-item:hover .sale-hover,
.new .new-list .new-slider .slider-item .new-item:hover .new-hover {
  transition: all .5s ease;
}

.intro .product-menu .row .product-cat ul li:hover span,
.sale .sale-list .sale-slider,
.new .new-list .new-slider,
.most-view .most-view-content .most-view-col > div:hover .most-view-hover {
  transition: all 1s ease;
}

.intro .slider-home .slider-control .slider-dot:hover,
button:hover,
a:hover {
  cursor: pointer;
}

.header .header-right .header-search i,
.intro .product-menu .row .product-cat-content .product-list-content,
.intro .slider-home .slider-outer .pirate-intro-slider-item,
.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape,
.intro .slider-home .slider-control .slider-dot span {
  pointer-events: none !important;
}

.intro .product-menu .row .product-cat-content .product-list-content.active {
  pointer-events: auto !important;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item {
  width: 100%;
  height: 100%;
}

/*Layout*/

.header {
  padding: 20px 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 9999999;
}

.header .header-left img {
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 9;
}

.header .header-left p {
  font: 18px 'UTMGodWordR';
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px 10px 30px;
  transform: translateX(-30px);
  background: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.header .header-right {
  padding: 1.5% 0 0 0;
}

.header .header-right .header-search input[type=text] {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #F36F21;
  border-radius: 100px;
}

.header .header-right .header-search input[type=submit] {
  display: block;
  position: absolute;
  top: 0;
  right: 9px;
  height: 100%;
  width: 30px;
  border: none;
  background: transparent;
  color: transparent;
}

.header .header-right .header-search i {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 20px;
  color: #F36F21;
  transform: translateY(-50%);
}

.header .header-right .header-basket i {
  display: block;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #F36F21;
  line-height: 50px;
  text-align: center;
  color: #F36F21;
  margin: 0 auto;
}

.header .header-right .header-user i {
  vertical-align: middle;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #F36F21;
  line-height: 50px;
  text-align: center;
  color: #F36F21;
}

.header .header-right .header-user .hello-user {
  font: 16px 'OpenSans';
  color: #F36F21;
  display: inline-block;
  vertical-align: middle;
}

.header .header-right .header-user .hello-user span {
  font-family: 'OpenSansSemibold';
}

.main-content {
  margin-top: 120px;
}

.intro {
  padding: 0 15px;
  height: 80%;
}

.intro .product-menu .product-menu-title {
  font: 18px 'OpenSansSemibold';
  color: white;
  text-transform: capitalize;
  text-align: center;
  height: 10%;
  background: linear-gradient(to right, #0191C4, #2CDBB0);
  padding-top: 13px;
}

.intro .product-menu .product-menu-title:before {
  content: '\f0c9';
  font: 20px 'FontAwesome';
  margin-right: 20px;
}

.intro .product-menu .row {
  margin: 0;
  height: 90%;
}

.intro .product-menu .row:last-child > div:last-child > ul > li:first-child {
  border-top: none;
}

.intro .product-menu .row .product-cat ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro .product-menu .row .product-cat ul li {
  border: 2px solid #0FAAD9;
  width: 100%;
  height: 50%;
  position: relative;
}

.intro .product-menu .row .product-cat ul li:first-child {
  border-top: none;
  border-bottom: none;
}

.intro .product-menu .row .product-cat ul li:hover {
  cursor: pointer;
  background: linear-gradient(to right, #0191C4, #2CDBB0);
}

.intro .product-menu .row .product-cat ul li:hover span {
  color: white;
}

.intro .product-menu .row .product-cat ul li span {
  font: 18px 'OpenSansSemibold';
  color: #0FAAD9;
  display: block;
  width: max-content;
  height: max-content;
  transform: translateX(25%) rotate(-90deg);
  position: absolute;
  top: 50%;
  right: 0;
}

.intro .product-menu .row .product-cat-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro .product-menu .row .product-cat-content .product-list-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3px 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.intro .product-menu .row .product-cat-content .product-list-content.active {
  opacity: 1;
}

.intro .product-menu .row .product-cat-content .product-list-content .product-item {
  width: 100%;
  height: 60px;
  border-top: 2px solid transparent;
  border-image: linear-gradient(to right, #0191C4, #2CDBB0);
  border-image-slice: 1;
  position: relative;
}

.intro .product-menu .row .product-cat-content .product-list-content .product-item a {
  color: #666;
  font: 20px 'OpenSans';
  text-transform: capitalize;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.intro .slider-home {
  position: relative;
  min-height: 500px;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  animation: slideOut 0.5s cubic-bezier(0.23, 0.55, 0.83, 0.55) forwards;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active {
  pointer-events: auto;
  animation: slideIn 0.5s cubic-bezier(0.23, 0.55, 0.83, 0.55) forwards;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active .slider-item-shape .triangle-bot-big {
  animation: bottomIn 1s linear forwards;
  animation-delay: .3s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active .slider-item-shape .triangle-bot-small {
  animation: bottomIn 1s linear forwards;
  animation-delay: .6s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active .slider-item-shape .triangle-top {
  animation: topIn 1s linear forwards;
  animation-delay: .5s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active .pirate-slider-item-data h3 {
  animation: textIn 1s linear forwards;
  animation-delay: 1.3s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active .pirate-slider-item-data p {
  animation: textIn 1s linear forwards;
  animation-delay: 1.6s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item.active > a {
  animation: moreIn 1s linear forwards;
  animation-delay: 1.6s;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .pirate-slider-item-data {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 20%;
  z-index: 9;
  color: white;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .pirate-slider-item-data h3 {
  font: 20px 'NotoSerifBold';
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  opacity: 0;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .pirate-slider-item-data h3:after {
  width: 40%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background-color: white;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .pirate-slider-item-data p {
  font: 14px 'AvertaLight';
  line-height: 20px;
  margin-top: 50px;
  text-align: justify;
  opacity: 0;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-bot-big {
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 70%;
  opacity: 0;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-bot-big img {
  width: 100%;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-bot-small {
  position: absolute;
  bottom: -10px;
  left: -10%;
  width: 60%;
  opacity: 0;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-bot-small img {
  width: 100%;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-top {
  position: absolute;
  top: -5%;
  right: -5%;
  opacity: 0;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item .slider-item-shape .triangle-top img {
  width: 100%;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item:first-child a:hover {
  color: #234c6e;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item:last-child a:hover {
  color: #b1a390;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item > a {
  display: inline-block;
  vertical-align: middle;
  font: 16px 'AvertaLight';
  color: white;
  width: 100px;
  opacity: 0;
  position: absolute;
  padding-right: 50px;
  top: 10%;
  right: 4%;
}

.intro .slider-home .slider-outer .pirate-intro-slider-item > a:after {
  position: absolute;
  top: 50%;
  right: 0;
  content: '\f061';
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid white;
  font: 20px 'FontAwesome';
  color: white;
  line-height: 40px;
  text-align: center;
  transform: translateY(-50%);
}

.intro .slider-home .slider-outer .pirate-intro-slider-item > a:hover {
  background: white;
  color: #d2393b;
}

.intro .slider-home .slider-control {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.intro .slider-home .slider-control .slider-dot {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  border: 1px solid transparent;
  display: inline-block;
  margin: 0 5px;
}

.intro .slider-home .slider-control .slider-dot span {
  display: block;
  opacity: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro .slider-home .slider-control .slider-dot.active {
  border-color: white;
  background: transparent;
}

.intro .slider-home .slider-control .slider-dot.active span {
  opacity: 1;
}

.sale {
  position: relative;
  padding: 80px 0;
}

.sale:before {
  content: '';
  width: 77%;
  height: 55%;
  position: absolute;
  top: 80px;
  left: -5%;
  background: linear-gradient(to right, #0191C4, #2CDBB0);
  border-top-right-radius: 5px;
  transform: skew(-10deg);
  box-shadow: 0px 0px 60px -15px rgba(0, 0, 0, 0.5);
}

.sale .sale-list {
  overflow: hidden;
}

.sale .sale-list .sale-slider {
  width: 300%;
  display: flex;
  padding: 80px 0 30px 0;
}

.sale .sale-list .sale-slider .slider-item {
  width: 8.333333%;
  float: left;
  padding: 0 5px;
  position: relative;
}

.sale .sale-list .sale-slider .slider-item .sale-item {
  position: relative;
  background: white;
  padding: 27px 0;
  box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sale .sale-list .sale-slider .slider-item .sale-item .thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: #cecece;
  padding: 40px;
  margin: 0 auto;
}

.sale .sale-list .sale-slider .slider-item .sale-item .thumbnail img {
  width: 100%;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-name {
  background: linear-gradient(to right, #F37021, #FBB040);
  background-clip: text;
  -webkit-background-clip: text;
  font: 18px 'OpenSans';
  color: transparent;
  text-align: center;
  margin-top: 20px;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-price {
  margin-top: 20px;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-price > span {
  display: block;
  text-align: center;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-price .price-old {
  text-decoration: line-through;
  color: #666;
  font: 15px 'OpenSansLight';
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-price .price-new {
  font: 18px 'OpenSansSemibold';
  color: #f44242;
  margin-top: 10px;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-hover {
  display: block;
  opacity: 0;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  background: linear-gradient(to right, #F37021, #FBB040);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.sale .sale-list .sale-slider .slider-item .sale-item .sale-hover i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 46px;
}

.sale .sale-list .sale-slider .slider-item .sale-item:hover .sale-hover {
  opacity: 1;
}

.sale .sale-title {
  padding: 10% 0 0;
}

.sale .sale-title h2 {
  font: 30px 'GothamLight';
  text-transform: uppercase;
  background: linear-gradient(to right, #F37021, #FBB040);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: right;
}

.sale .sale-title span {
  display: block;
  width: 100%;
  margin: 23px 0 40px;
  padding-left: 20%;
  font: 14px 'OpenSansLight';
  color: #808080;
  text-align: right;
}

.sale .sale-title .sale-slider-control {
  padding-left: 50%;
}

.sale .sale-title .sale-slider-control > div {
  display: inline-block;
  margin-right: 30px;
}

.sale .sale-title .sale-slider-control > div i {
  font-size: 30px;
  background: linear-gradient(to right, #0191C4, #2CDBB0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sale .sale-title .sale-slider-control > div:hover {
  cursor: pointer;
}

.new {
  background: url(../images/bg-new.jpg);
  background-size: cover;
  padding: 40px 0;
  position: relative;
  min-height: 560px;
}

.new h2.new-title {
  font: 55.37px 'OpenSansBold';
  color: white;
  margin-bottom: 30px;
}

.new h2.new-title span {
  display: block;
  position: relative;
}

.new h2.new-title span:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 5px;
  background: white;
}

.new .new-slider-control {
  position: absolute;
  width: 90%;
  top: 70%;
  left: 50%;
  transform: translate(-49%, -50%);
}

.new .new-slider-control > div {
  display: block;
  background: linear-gradient(to right, #F37021, #FBB040);
  width: 46px;
  height: 46px;
  border-radius: 46px;
  text-align: center;
}

.new .new-slider-control > div i {
  font-size: 30px;
  line-height: 46px;
  color: white;
}

.new .new-slider-control > div:hover {
  cursor: pointer;
}

.new .new-slider-control > div.new-prev {
  float: left;
}

.new .new-slider-control > div.new-next {
  float: right;
}

.new .new-list {
  overflow: hidden;
  position: relative;
}

.new .new-list .new-slider {
  width: 201%;
  display: flex;
  padding: 30px 20px;
}

.new .new-list .new-slider .slider-item {
  width: 10%;
  float: left;
  padding: 0 5px;
  position: relative;
}

.new .new-list .new-slider .slider-item .new-item {
  position: relative;
  background: white;
  padding: 27px 0;
  box-shadow: 0px 0px 50px -8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.new .new-list .new-slider .slider-item .new-item .thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: #cecece;
  padding: 40px;
  margin: 0 auto;
}

.new .new-list .new-slider .slider-item .new-item .thumbnail img {
  width: 100%;
}

.new .new-list .new-slider .slider-item .new-item .new-name {
  background: linear-gradient(to right, #F37021, #FBB040);
  background-clip: text;
  -webkit-background-clip: text;
  font: 18px 'OpenSansBold';
  color: transparent;
  text-align: center;
  margin-top: 20px;
}

.new .new-list .new-slider .slider-item .new-item .new-price {
  margin-top: 20px;
  color: #f44242;
  font: 15px 'OpenSansSemibold';
  text-align: center;
}

.new .new-list .new-slider .slider-item .new-item .new-hover {
  display: block;
  opacity: 0;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  background: linear-gradient(to right, #0191C4, #2CDBB0);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  border: 1px solid white;
}

.new .new-list .new-slider .slider-item .new-item .new-hover i {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  line-height: 46px;
}

.new .new-list .new-slider .slider-item .new-item:hover .new-hover {
  opacity: 1;
}

.most-view {
  margin: 80px 0;
  height: 720px;
  position: relative;
}

.most-view h2.most-view-title {
  font: 50px 'OpenSansBold';
  color: #F36F21;
  margin-bottom: 30px;
}

.most-view h2.most-view-title span {
  display: block;
  position: relative;
}

.most-view h2.most-view-title span:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 5px;
  background: linear-gradient(to right, #F37021, #FBB040);
}

.most-view .most-view-content {
  height: 720px;
  width: 100%;
  margin-top: 100px;
}

.most-view .most-view-content .most-view-col {
  width: 25%;
  height: 720px;
  float: left;
}

.most-view .most-view-content .most-view-col > div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #F37021, #FBB040);
  border-image-slice: 1;
  position: relative;
}

.most-view .most-view-content .most-view-col > div:hover {
  border-color: transparent;
}

.most-view .most-view-content .most-view-col > div:hover .most-view-hover {
  opacity: 1;
}

.most-view .most-view-content .most-view-col > div .most-view-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(243, 112, 33, 0.7), rgba(251, 176, 64, 0.7));
  border: 3px solid white;
}

.most-view .most-view-content .most-view-col > div .most-view-hover .most-view-hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.most-view .most-view-content .most-view-col > div .most-view-hover .most-view-hover-content > h2 {
  text-align: center;
  font: 18px 'OpenSansBold';
  color: white;
}

.most-view .most-view-content .most-view-col > div .most-view-hover .most-view-hover-content .most-view-price {
  font: 18px 'OpenSansSemibold';
  color: white;
  text-align: center;
}

.most-view .most-view-content .most-view-col > div .most-view-hover .most-view-hover-content > a {
  display: block;
  padding: 10px 15px;
  font: 14px 'OpenSansItalic';
  color: #F36F21;
  width: max-content;
  margin: 20px auto;
  background: white;
}

.most-view .most-view-content .most-view-col.most-view-col-1 .most-view-cell-1 {
  height: 35%;
}

.most-view .most-view-content .most-view-col.most-view-col-1 .most-view-cell-2 {
  height: 25%;
}

.most-view .most-view-content .most-view-col.most-view-col-1 .most-view-cell-3 {
  height: 40%;
}

.most-view .most-view-content .most-view-col.most-view-col-2 .most-view-cell-1 {
  height: 50%;
}

.most-view .most-view-content .most-view-col.most-view-col-2 .most-view-cell-2 {
  height: 50%;
}

.most-view .most-view-content .most-view-col.most-view-col-3 .most-view-cell-1 {
  height: 20%;
}

.most-view .most-view-content .most-view-col.most-view-col-3 .most-view-cell-2 {
  height: 60%;
}

.most-view .most-view-content .most-view-col.most-view-col-3 .most-view-cell-3 {
  height: 20%;
}

.most-view .most-view-content .most-view-col.most-view-col-4 .most-view-cell-1 {
  height: 65%;
}

.most-view .most-view-content .most-view-col.most-view-col-4 .most-view-cell-2 {
  height: 35%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.display-none {
  visibility: hidden;
}