@charset "UTF-8";

/*--font face--*/

@font-face {
  font-family: 'HelvetiCaneue';
  src: url("./../fonts/helvetica-neue-regular.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueLight';
  src: url("./../fonts/helvetica-neue-light.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueMedium';
  src: url("./../fonts/helvetica-neue-medium.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueBold';
  src: url("./../fonts/helvetica-neue-bold.ttf");
}

@font-face {
  font-family: 'AvertaBlack';
  src: url("../fonts/Averta-Black_0.otf");
}

@font-face {
  font-family: 'AvertaBold';
  src: url("../fonts/Averta-Bold_1.otf");
}

@font-face {
  font-family: 'UTMGodWordR';
  src: url("../fonts/UTM God_s WordR.ttf");
}

@font-face {
  font-family: 'UTMGodWordRItalic';
  src: url("../fonts/UTM God_s WordRItalic.ttf");
}

@font-face {
  font-family: 'NotoSerif';
  src: url("./../fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: 'NotoSerifItalic';
  src: url("./../fonts/NotoSerif-Italic.ttf");
}

@font-face {
  font-family: 'NotoSerifBoldItalic';
  src: url("./../fonts/NotoSerif-BoldItalic.ttf");
}

@font-face {
  font-family: 'NotoSerifBold';
  src: url("./../fonts/NotoSerif-Bold.ttf");
}

p {
  margin: 0;
}

.header {
    padding: 20px 0;
    background:	 #00004d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 9999999;
  }
  
  .header .header-left img {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 9;
  }
  
  .header .header-left p {
    font: 18px 'UTMGodWordR';
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px 10px 30px;
    transform: translateX(-30px);
    background: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
  
  .header .header-right {
    padding: 1.5% 0 0 0;
  }
  
  .header .header-right .header-search input[type=text] {
    background: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid #F36F21;
    border-radius: 100px;
  }
  
  .header .header-right .header-search input[type=submit] {
    display: block;
    position: absolute;
    top: 0;
    right: 9px;
    height: 100%;
    width: 30px;
    border: none;
    background: transparent;
    color: transparent;
  }
  
  .header .header-right .header-search i {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    color: #F36F21;
    transform: translateY(-50%);
  }
  
  .header .header-right .header-basket i {
    display: block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #F36F21;
    line-height: 50px;
    text-align: center;
    color: #F36F21;
    margin: 0 auto;
  }
  
  .header .header-right .header-user i {
    vertical-align: middle;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #F36F21;
    line-height: 50px;
    text-align: center;
    color: #F36F21;
  }
  
  .header .header-right .header-user .hello-user {
    font: 16px 'OpenSans';
    color: #F36F21;
    display: inline-block;
    vertical-align: middle;
  }
  
  .header .header-right .header-user .hello-user span {
    font-family: 'OpenSansSemibold';
  }

.payment {
    margin-top: 130px;
}
  .payment .orderDetail {
    margin-right: 10px;
    height: 80ch;
    border: rgba(0, 0, 0, 0.6) solid 2px;
    border-radius: 10px;
    padding-left: 20px;
  }
  .payment .orderInfo {
    height: 50ch;
  }

.resumeOrder {
  padding-left: 20px;
}
  .resumeOrder .col-sm-12 {
    border: rgba(0, 0, 0, 0.6) solid 2px;
    border-radius: 10px; 
  }

.address {
  height:25ch;
  margin-bottom: 10px;
}
  .title-orderInfo {
    margin: 5px;
  }
    .title-orderInfo::after {
      display: block;
      content: '';
      background-color: black;
      height: 1px;
      opacity: 0.5;
      width: 95%;
      margin: 10px 0 15px 5px;
    }
    .title-orderInfo button,.title-orderInfo h4 {
      display: inline;
    }
    .title-orderInfo button {
      height: 30px;
      width: 50px;
    }
    .title-orderInfo button:hover {
      cursor: pointer;
      font-weight: bold;
      border: none; 
    }
      #editAddress {
        position: relative;
        left: 21ch;
      }
      #editInfoProduct {
        position: relative;
        left: 15ch;
      }

  .addrContent {
    margin: 15px;
  }
    .addrContent h3 {
      margin-bottom: 10px;
    }


.info {
  height: 50ch;
}
  .info h5, p {
    display: inline;
  }
  .productsInfo {
    padding: 0 20px 0 20px;
  }
    .productsInfo .nameProduct {
      height: 5ch;
    }
      .nameProduct p {
        margin-left: 10px;
      }

    .productsInfo .priceProduct {
      height: 5ch;
      text-align: right;
      padding-right: 12px;
    }
    .productsInfo::after {
      display: block;
      content: '';
      background-color: black;
      height: 1px;
      opacity: 0.5;
      width: 100%;
      margin: 10px 0 15px 5px;  
    }

  .totalPay {
    padding: 0 20px 0 20px;
  }
    .totalPay .totalPrice {
      text-align: right;
    }

  
.orderDetail .typeDelivery {
  margin-left: 20px;
}
  .typeDelivery li {
    list-style: none;
    margin-left: 15ch;
  }

.typePayment {
  margin-left: 20px;
}
  .typePayment input {
    margin-bottom: 20px;
  }

#booking {
  width:50%;
  position: relative;
  top: 8ch;
  left: 20ch;
  height: 4ch;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #00004d;
  color: white;
}

#booking:hover {
  background-color: #0000cc;
  cursor: pointer;
}




