@charset "UTF-8";

/*--font face--*/

@font-face {
  font-family: 'HelvetiCaneue';
  src: url("./../fonts/helvetica-neue-regular.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueLight';
  src: url("./../fonts/helvetica-neue-light.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueMedium';
  src: url("./../fonts/helvetica-neue-medium.ttf");
}

@font-face {
  font-family: 'HelvetiCaneueBold';
  src: url("./../fonts/helvetica-neue-bold.ttf");
}

@font-face {
  font-family: 'AvertaBlack';
  src: url("../fonts/Averta-Black_0.otf");
}

@font-face {
  font-family: 'AvertaBold';
  src: url("../fonts/Averta-Bold_1.otf");
}

@font-face {
  font-family: 'UTMGodWordR';
  src: url("../fonts/UTM God_s WordR.ttf");
}

@font-face {
  font-family: 'UTMGodWordRItalic';
  src: url("../fonts/UTM God_s WordRItalic.ttf");
}

@font-face {
  font-family: 'NotoSerif';
  src: url("./../fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: 'NotoSerifItalic';
  src: url("./../fonts/NotoSerif-Italic.ttf");
}

@font-face {
  font-family: 'NotoSerifBoldItalic';
  src: url("./../fonts/NotoSerif-BoldItalic.ttf");
}

@font-face {
  font-family: 'NotoSerifBold';
  src: url("./../fonts/NotoSerif-Bold.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}


/* -------------------------------- Left Panel ---------------------------- */
h2#adminName {
  font-weight: bold;
  font-size: 30px;
}

h3#dashboardTitle {
  font-size: 23px;
}

/*style="background-color: #000033*/
.dashboard .col-sm-3 {
  height: 100ch;
  color: #a6a6a6;
}

li {
  list-style-type: none;
}

li.adminFuntions {
  margin-top: 50px;
}

a.adminFunctions {
  margin-left: 25px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}
a.adminFunctions::after {
  display: block;
  content: '';
  background-color: white;
  opacity: 0.5;
  height: 1px;
  width: 80%;
  margin-top: 10px;
  margin-left: 40px; 
}

a {
  color: #a6a6a6;
  text-decoration: none;
  width: 100%;
}
  a:visited {
    color: #a6a6a6;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
  i:hover {
    color: white;
  }

.fa {
  color: white;
}

.viewProOptions, .productType, .productBrand, .viewOrder {
  display: none;
}

.link {
  display: none;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 15px;
  margin-top:5px;
}

#adminName, #dashboardTitle  {
  text-align: center;
}
  h2#adminName::after, h3#dashboardTitle::after  {
    display: block;
    content: '';
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 40px;  
  }


/* -------------------------------- Right Panel ---------------------------- */
/* ---- search bar ------ */
.searchBar {
  padding: 15px;
  border-bottom: #cccccc solid 5px;
}

.searchBar .searchProduct {
  font-size: 15px;
  height: 40px;
  position: relative;
  top: 0ch;
}
  .searchBtn {
    width: 40px;
    border: none;
    margin: 0;
    background-color: darkblue;
    color: white;
  }
  .searchInput {
    width: 94%;
    border: none;
    margin-left: 10px;
  }


/* ----------- Show products page -------------- */
.editDeletePro {
  margin-bottom: 15px;
}
  .editDeletePro button {
    height: 40px;
    width: 100px;
    position: relative;
    left: 80ch;
    border-radius: 5px;
    font-size: 18px;
    background-color: #000033;
    color: #a6a6a6;
  }
  .editDeletePro button:hover {
    color: white;
    background-color: darkblue;
    cursor: pointer;
  }

/*.container-quanLySanPham table {
  font-size: 15px;
  height: 40px;
  position: relative;
  right: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border: darkblue solid 4px;
  border-collapse: collapse;
}
  .container-quanLySanPham th, td {
    
    border: darkblue solid 0.1px;
    text-align: center;
  }
  .container-quanLySanPham th {
    border-bottom: darkblue solid 4px;
  }*/

  .container-quanLySanPham .row {
      height: 50ch;
  }

  .container-quanLySanPham .col-sm-2 {
      border: green double;
      height: 20ch;
  }

      .detailOption {
          margin: 5px;
          display: block;
      }
          .detailOption h3 {
          border-bottom: green double;
          font-size: 20px;
          }
          .detailOption a {
          color: black;
          text-decoration: none;
          font-size: 18px;
          }
          .detailOption a:hover {
          text-decoration: black underline;
          font-weight: bold;
          }

.imgInTable {
  width: 35px;
  height: 35px;;
}

.isDisplayed {
  display: none;
}
      

/* ----------- Add new product form-------------- */
#closeFormBtn {
  position: absolute;
  left: 92ch;
  top: -15px;
  height: 40px;
  width: 40px;
  background-color: #000033;
  color: #bfbfbf;
  border: none;
  border-radius: 50%;
}
  #closeFormBtn:focus {
    text-decoration: none;
  }
  #closeFormBtn:hover {
    cursor: pointer;
    background-color: darkblue;
    color: white;
  }

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
  .modal-content {
    background-color: #fefefe;
    
    margin: auto;
    border: 1px solid #888;
    width: 80ch;
    height: 70ch;
    position: relative;
    left:20ch;
    bottom: 40px;
    border: #000033 solid;
    border-radius: 15px;
    
  }
    .modal-content form {
      position: relative;
      top: 15px;
    }
    .modal-content h1 {
      background-color: #000033;
      color: white;
      position: 0;
    }
    .modal-content input, .modal-content label {
      height: 3ch;
      font-size: 20px;
      position: relative;
      top: 10px;
      left: 20px;;
    }
    .modal-content input {
      width: 95%;
    }
    .modal-content input[type=submit] {
      background-color: #000033;
      color: #a6a6a6;
      height: 5ch;
      border: #000033 solid 1px;
      border-radius: 15px;
    }
    .modal-content input[type=submit]:hover {
      background-color: darkblue;
      color: white;
      cursor: pointer;
    }



/* ----------------- ORDERS MANAGEMENT ------------------- */
table {
  font-size: 15px;
  height: 40px;
  position: relative;
  margin-top: 0;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 70px;
  border: darkblue solid 4px;
  border-collapse: collapse;
  width: 95%;
}
  th, td {
    border: darkblue solid 0.1px;
    text-align: center;
  }
  th {
    border-bottom: darkblue solid 4px;
  }


h2 {
  margin-left: 15px;
}


/* ----------------- SHOW ADMIN ACCOUNT ------------------- */
.showAccount {
  position: relative;
  top: 1ch;
  left: 30ch;
  width: 50%;
  margin-top: 50px;
}
  .showAccount form {
    margin: 25px;
    font-size: 20px;
  }

  .showAccount input {
    height: 25px;
    font-size: 15px;
  }


.backgroundTitle {
  width: 60%;
  height: 50px;
}
  .backgroundTitle h1 {
    position: relative;
    top: 8px;
    text-align:  center;
  }


.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: relative;
  top: -50px;
  left: 60%;
  bottom: 0;
}

/* **************************  SHOW CHARTS  **********************/
.charts {
  padding: 20px;
  display: block;
}
  .charts h3 {
    text-align: center;
  }
.col-sm-6 {
  height: 40ch;
}

canvas {
  margin-top: 10px;
}

.orderChart {
  margin-top: 50px;
}



