{{#section 'css'}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleUserPages.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home.css" />
{{/section}}


{{#section 'header'}}{{> header}}{{/section}}
{{#section 'footer'}}{{> footer}}{{/section}}


<div class="done-title">Đã thanh toán xong</div>
<a href="/" class="back-home">Trở lại trang chủ</a>