{{#section 'title'}}
User information
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleUserPages.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home.css" />
{{/section}}

{{#section 'js'}}
<script src="/assets/js/style.css"></script>
{{/section}}


{{#section 'header'}}{{> header}}{{/section}}
{{#section 'footer'}}{{> footer}}{{/section}}


<div class="container">
  <h2 class="detail-title">Thông Tin <span>Người Dùng</span></h2>
  <div class="row">
    <div class="col-sm-8 user-info">
      <form class="userAccount">
        <div>
          <label for="name">Họ và tên</label>
          <input type="text" name="name" value="{{name}}" readonly>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="text" name="email" value="{{email}}" readonly>
        </div>
        <div>
          <label for="gender">Giới tính</label>
          <input type="radio" name="gender" value="Nam" checked disabled><span>Nam</span>
          <input type="radio" name="gender" value="Nữ" disabled><span>Nữ</span>
        </div>
        <div>
          <label for="birthDay">Ngày sinh</label>
          <input type="date" name="birthDay" value="{{dob}}" readonly>
        </div>
        <div>
          <label for="numberPhone">Số điện thoại</label>
          <input type="text" name="numberPhone" value="" readonly>
        </div>
      </form>
    </div>
    <div class="col-sm-4 user-avatar">
      <img src="/assets/images/user.png" alt="">
      <p class="username">{{username}}</p>
    </div>
  </div>
  <button class="done">Chỉnh Sửa</button>
</div>
