<div class="{{}}-item">
  <div class="thumbnail"><img src="./assets/images/Brands/Canon/Canon 5D MARK III +  EF 24 105mm F4 IS.jpg" alt=""></div>
  <div class="{{}}-name">Canon 5D MARK III +  EF 24 105mm F4 IS</div>
  <div class="{{}}-price">
    <span class="{{}}-new">59.990.000 VND</span>
  </div>
  <a href="pages/DetailPages/singlepage-2.html" class="{{}}-hover"><i class="fa fa-arrow-right"></i></a>
  <button class="add">
    <i class="fa fa-shopping-cart"></i>
  </button>
</div>